@use "src/_custom" as *;

.Projects {
  &-content {
    @include media-breakpoint-up(lg) {
      margin: 13px 1rem;
      border-top: 1px solid;
      border-left: 1px solid;
      padding: 3rem 6rem;
      text-align: start;
      border:2px solid green;
    }

    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
