<!-- NGX CHART -->
<ngx-charts-bar-horizontal
  [view]="view"
  [scheme]="colorScheme"
  [results]="results"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
>
</ngx-charts-bar-horizontal>

<!-- properties for nxb-charts-bar-horizontal -->
<!-- (select)="onSelect($event)"
(activate)="onActivate($event)"
(deactivate)="onDeactivate($event)" -->
