<app-nav (emitElementNav)="getNavElement($event)"></app-nav>

<section class="Principal container-fluid h-100">
  <!-- button change color -->
  <div class="Principal-check form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="DarkMode"
      (click)="changeColor()"
    />
  </div>

  <!-- sign for me -->
  <div class="Principal-name">
    <h5 class="Principal-h5">Design by.Juan Tasayco</h5>
  </div>

  <!-- principal content (components) -->

  <router-outlet></router-outlet>
</section>
