@use "src/_custom" as *;

.Home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  @include media-breakpoint-up(xxl) {
    border: 2px solid yellow;
    padding: 0rem 8rem;
  }
  &-letter {
    font-size: clamp(2rem, 8vw, 10rem);
    font-weight: 100;
    display: inline-block;
  }

  &-content {
    border: 2px solid red;

    &--name {
      display: flex;
      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }
  }

  &-text {
    max-width: 30%;
    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }
  &-p {
    height: 100%;
    font-size: 1rem;
  }
}

.padre {
  color: white;
  /*   display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2;
  place-items: center; */
}

.hijo {
  grid-column: 2/12;
  border: 2px solid blue;
  display: flex;
}
