@use "src/_custom" as *;

.Home {
  height: 100%;

  &-principal {
    height: 100%;
    @include media-breakpoint-down(lg) {
      border: 2px solid red;
      display: flex;
    }
  }

  &-section {
    color: white;
    padding: 0;
    &--cover {
      height: 100%;
      position: fixed;
      background-color: #030712;
      background-image: linear-gradient(45deg, #030712 0%, #143477 100%);
      @include media-breakpoint-down(lg) {
        height: 80%;
        position: relative;
      }
    }

    &--content {
      background-color: black;
      @include media-breakpoint-down(lg) {
        flex-grow: 1;
        position: relative;
      }
    }
  }

  /* contenedor que agrega el padding para dar el efecto container de boostrap */
  &-container {
    /*     width: min(90%, 560px); */
    height: 100%;
    @include media-breakpoint-down(lg) {
      margin: auto;
    }
    &--cover {
      width: min(90%, 550px);
      margin-left: auto;
      display: flex;
      flex-direction: column;
      & .Titles {
        &-description {
          height: 95%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &-socials {
          display: flex;
          @include media-breakpoint-down(lg) {
            justify-content: center;
            align-items: center;
          }
        }

        &-msg {
          flex-grow: 1;
          text-align: center;
          @include media-breakpoint-up(lg) {
            text-align: flex-start;
          }
        }
        &-h1 {
          font-weight: lighter;
          font-size: clamp(2rem, 2vw, 2.25rem);
          &--position {
            color: $danger;
          }
        }
        &-p {
          font-size: 0.875rem;
          @include media-breakpoint-up(lg) {
            width: 75%;
          }
        }

        &-svg {
          height: 1rem;
          /*   padding: 0rem 1rem; */
          margin: 0;
          padding: 0;
          &--me {
            padding: 0;
            display: flex;
            align-items: center;
            @include media-breakpoint-down(lg) {
              justify-content: center;
            }
          }
        }
      }
    }
    &--content {
      position: relative;
      width: min(90%, 620px);
    }
  }

  &-p {
    font-size: 0.875rem;
  }
  img {
    width: 100%;
    max-height: 100%;
    border-radius: 1rem;
    object-fit: fill;
  }

  &-descriptions {
    overflow-x: hidden;
    height: 50%;
    z-index: 50;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: white;
    @include media-breakpoint-down(sm) {
      border: 2px solid green;
    }
  }

  &-cards {
    overflow-x: hidden;
    background-color: #000000;
    color: white;
  }

  &-footer {
    background-color: #000000;
    color: white;
    height: 50%;
  }

  &-grid {
    z-index: 1;
    display: grid;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &-gridItem {
    position: absolute;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(3rem, 6vw, 20rem);
    &--square {
      max-width: 7.5rem;
      border-radius: 1rem;
    }

    &--normal {
      max-width: 7.5rem;
      min-height: 5rem;
    }

    &--circle {
      max-width: 9rem;
    }

    &:nth-child(1) {
      top: 10%;
      left: 5%;
      width: clamp(3rem, 6vw, 20rem);
    }

    &:nth-child(2) {
      width: clamp(3rem, 6vw, 20rem);
      /* typescript */
      top: 10%;
      left: 30%;
    }

    &:nth-child(3) {
      top: 12%;
      left: 60%;
    }

    &:nth-child(4) {
      top: 20%;
      right: 10%;
    }

    &:nth-child(5) {
      /* angular */
      top: 30%;
      left: 10%;
      width: clamp(3rem, 8vw, 20rem);
      @include media-breakpoint-down(md) {
        left: auto;
        right: 10%;
      }
    }

    &:nth-child(6) {
      /* bootstrap */
      top: 40%;
      left: 30%;
    }

    &:nth-child(7) {
      top: 40%;
      right: 20%;
    }

    &:nth-child(8) {
      /* nest */
      top: 40%;
      left: 60%;
      @include media-breakpoint-down(md) {
        left: auto;
        top: 35%;
        right: 10%;
      }
    }

    &:nth-child(9) {
      top: 50%;
      left: 25%;
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 50%;
    }

    &:nth-child(10) {
      top: 55%;
      right: 25%;
    }
    &:nth-child(11) {
      left: 10%;
      top: 65%;
    }

    &:nth-child(12) {
      left: 50%;
      top: 75%;
    }

    &:nth-child(13) {
      left: 20%;
      top: 80%;
    }

    &:nth-child(14) {
      right: 30%;
      top: 85%;
      scale: 2;
    }
  }
}
