@use "src/_custom" as *;

.Home {
  height: 100%;
  &-principal {
    background-color: black;
    height: 100%;
    margin: 0;
    padding: 0;

    @include media-breakpoint-down(lg) {
      display: flex;
      gap: 0;
    }
  }

  &-section {
    color: white;
    padding: 0;

    &--cover {
      height: 100%;
      position: fixed;
      background-color: #030712;
      background-image: linear-gradient(45deg, #030712 0%, #143477 100%);

      @include media-breakpoint-down(lg) {
        height: 80%;
        position: relative;
      }
    }

    &--content {
      background-color: black;
      @include media-breakpoint-down(lg) {
        flex-grow: 1;
        position: relative;
      }
    }
  }

  /* contenedor que agrega el padding para dar el efecto container de boostrap */
  &-container {
    /*     width: min(90%, 560px); */

    @include media-breakpoint-down(lg) {
      margin: auto;
    }
    &--cover {
      height: 100%;
      width: min(90%, 550px);
      margin-left: auto;
      display: flex;
      flex-direction: column;
      & .Titles {
        &-description {
          height: 95%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        &-socials {
          display: flex;
          @include media-breakpoint-down(lg) {
            justify-content: center;
            align-items: center;
          }
        }

        &-msg {
          flex-grow: 1;
          text-align: center;
          @include media-breakpoint-up(lg) {
            text-align: flex-start;
          }
        }
        &-h1 {
          font-weight: lighter;
          font-size: clamp(2rem, 2vw, 2.25rem);
          &--position {
            color: $danger;
          }
        }
        &-p {
          font-size: 0.875rem;
          @include media-breakpoint-up(lg) {
            width: 75%;
          }
        }

        &-svg {
          height: 1rem;
          /*   padding: 0rem 1rem; */
          margin: 0;
          padding: 0;
          &--me {
            padding: 0;
            display: flex;
            align-items: center;
            @include media-breakpoint-down(lg) {
              justify-content: center;
            }
          }
        }
      }
    }

    /* para section 2 */
    &--content {
      position: relative;
      width: min(90%, 620px);
      display: flex;
      flex-direction: column;
      gap: 3rem;
      @include media-breakpoint-up(lg) {
        padding: 0rem 4rem;
      }
    }
  }

  &-p {
    font-size: 0.875rem;
  }

  img {
    width: 100%;
    max-height: 100%;
    border-radius: 1rem;
    object-fit: fill;
  }

  &-cards {
    overflow-x: hidden;
    background-color: #000000;
    color: white;
  }

  /* &-footer {
 
  } */
  &-activeColor {
    color: red !important;
  }
}
