<div class="Principal-content h-100 d-lg-flex mb-5">
  <!-- scroll button -->
  <!--   <div class="Principal-scroll Principal-scroll--container">
    <div #circleScroll class="Principal-scroll Principal-scroll--circle"></div>
  </div> -->

  <!-- contendor del recuadro -->
  <section class="Principal-section1 gap-5 mt-5 m-md-auto overflow-hidden">
    <div #principalTitle class="Principal-description">
      <h1 class="Principal-h1 display-1">Juan Tasayco</h1>
      <h2 class="Principal-h2 mx-2">Desarrollador Web</h2>
    </div>
    <div #principalText class="Principal-aboutme">
      <h5>Acerca de mi :</h5>
      <p class="Principal-text mt-3 mt-md-0">
        Holaa!! Soy un profesional dedicado al desarrollo web, mis frameworks
        favoritos de utilizar son Angular y Nest JS; para Front-end y Back-end
        respectivamente, estas involucran una serie de conocimientos en
        distintos lenguajes y tecnologías, tales como HTML, CSS, SASS,
        Javascript, Typescript, Docker, Mongo, PostgresSQL, GitHub, entre otros.
      </p>
    </div>
    <div class="Principal-devIcon Icons">
      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg"
      />

      <img
        #iconDev
        class="Icons-img"
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
      />
    </div>

    <div class="Principal-socials">
      <a
        href="https://www.linkedin.com/in/juan-jos%C3%A9-tasayco-ninaquispe-49198a13a/"
        target="_blank"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="Principal-svg mx-2"
          viewBox="0 0 16 16"
        >
          <path
            d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
          />
        </svg>
      </a>
      <a href="https://github.com/JuanTasayco" target="_blank">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="Principal-svg"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          />
        </svg>
      </a>
    </div>
  </section>

  <section appToScroll #appToScroll idName="inicio" class="Principal-section2">
    <!--  -->
    <div class="Projects-content mt-5">
      <h3 class="Principal-h3 text-uppercase">Habilidades técnicas</h3>
      <p class="Principal-p">
        En la siguiente gráfica te presento mis habilidades en base a mi
        experiencia utilizando las tecnologías.
      </p>

      <div class="Principal-chart">
        <app-horizontal-chart></app-horizontal-chart>
      </div>

      <hr appToScroll idName="trabajos" class="Principal-hr" />

      <div class="Principal-projects">
        <h3 class="Principal-h3 py-md-5 text-uppercase">
          Proyectos personales
        </h3>
        <app-project-description
          [contenido]="infoProject"
        ></app-project-description>
      </div>

      <hr appToScroll idName="contactame" class="Principal-hr" />

      <div class="Principal-contact pt-md-5">
        <h3 class="Principal-h3 Principal-h3--uppercase">Contacto</h3>
        <app-contact-me></app-contact-me>
      </div>
    </div>
    <!--  -->
  </section>
  <hr />
  <hr />
</div>
