<div class="Descriptions-content mb-5 container h-100">
  <!--     href="https://www.linkedin.com/in/juan-jos%C3%A9-tasayco-ninaquispe-49198a13a/" -->
  <!-- https://github.com/JuanTasayco -->

  <section class="Descriptions-section2">
    <div #containerSection2 class="Descriptions-container row m-0">
      <div #myDescription class="Descriptions-myDescription col-md-5 mx-auto">
        <h3 class="Descriptions-h1 text-start">Acerca de mi</h3>
        <p class="Descriptions-p">
          Hola!! Soy un profesional dedicado al desarrollo web, ubicado en Lima
          Perú, mis frameworks favoritos de utilizar son Angular y Nest JS; para
          Front-end y Back-end respectivamente, estas involucran una serie de
          conocimientos en distintos lenguajes y tecnologías, tales como HTML,
          CSS, SASS, Javascript, Typescript, Docker, Mongo, PostgresSQL, GitHub,
          entre otros.
        </p>
      </div>
      <div #myGraphic class="Descriptions-graphic col-md-7 mx-auto">
        <p class="Descriptions-p">
          En la siguiente gráfica te presento mis habilidades en base a mi
          experiencia utilizando las tecnologías.
        </p>

        <app-horizontal-chart></app-horizontal-chart>
      </div>
    </div>
  </section>
</div>
