<!-- <div class="container">
  <section class="cont-skill row" style="border:2px solid red">
    <div class="cont-skill__graphic  col-md-6">
      <div>
        <div class="chart">
          <canvas baseChart [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions">
          </canvas>
        </div>
      </div>
    </div>
    <div class="cont-skill__statistics col-md-6">
      <h3>Habilidades</h3>
    </div>
  </section>
</div> -->
<header class="Header">
  <nav class="Header-nav " style=" z-index:999; height:4rem">
    <ul class="Header-ul gap-md-5">
      <li class="Header-li list-group-item">Inicio</li>
      <li class="Header-li list-group-item">Acerca de</li>
      <li class="Header-li list-group-item">Contactame</li>
    </ul>
  </nav>
</header>



<section class="Principal container-fluid h-100 ">

  <div class="Principal-content h-100 d-lg-flex">
    <!-- contendor del recuadro -->
    <div class="Principal-section1 gap-5">
      <div class="">
        <h1 class="Principal-h1 display-1">Juan Tasayco</h1>
        <h2 class="Principal-h2 mx-2">Frontend Developer</h2>
      </div>
      <p class=>Hola! soy un desarrollador proactivo y autodidacta.Soy bachiller en Ingeniería de Sistemas apasionado por la
        tecnología y el desarrollo. Mi herramienta favorita de trabajo es Angular y todo lo relacionado a ello.</p>
      <div class="">
        <a href="" class="">Visitar mi GitHub</a>
        <a href="" class="mx-4">Visitar mi Linkedin</a>
      </div>

    </div>

    <div class="Principal-section2 position-relative ">
      <!--  -->
      <div class="Principal-content2">
        <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor
          repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor
          repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor
          repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor
          repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor
          repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quidem blanditiis dolor repudiandae
          nihil mollitia assumenda, nam, quo officia possimus quae cum temporibus aut molestiae quasi beatae? Nulla,
          obcaecati quidem?</p>




      </div>
      <!--  -->
    </div>

  </div>



</section>


<!-- <div class="container">



  <div class="Technologies row" style="border:2px solid red">
    <div class="Technologies-container col ">
      <h2 class="text-center fw-bold fs-1">Tecnologías que uso</h2>
      <div class="Technologies-groupImg d-flex justify-content-center align-items-center flex-wrap">
        <img src="assets/logos/csss.png" alt="" class="Technologies-img">
        <img src="assets/logos/typescript.png" alt="" class="Technologies-img">
        <img src="assets/logos/angular.png" alt="" class="Technologies-img">
        <img src="assets/logos/javascript.jpg" alt="" class="Technologies-img">
        <img src="assets/logos/github.png" alt="" class="Technologies-img">
        <img src="assets/logos/html.png" alt="" class="Technologies-img">
      </div>

    </div>
  </div>


  <section class="row w-50 d-flex m-auto">
    <div class="col text-center" style="border:2px solid blue">
      <h2 class=""> Acerca de mi</h2>
      <p class=>Frontend Developer proactivo y autodidacta.Soy bachiller en Ingeniería de Sistemas apasionado por la
        tecnología y el desarrollo. Mi herramienta favorita de trabajo es Angular y todo lo relacionado a ello.</p>
      <p></p>
      <p></p>
    </div>
  </section>



</div> -->