@use "src/_custom" as *;

.Header {
  &-nav {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;

    @include media-breakpoint-up(lg) {
      width: 100%;
      right: 0;
      border-bottom: 1px solid;
      position: fixed;
      display: flex;
    }
  }

  &-a {
    font-weight: bold;
    color: white;
  }
}

.gold {
  color: rgb(194, 161, 94);
}
