<header class="Header">
  <nav class="Header-nav navbar navbar-expand-lg" #nav>
    <div class="Header-container container-fluid">
      <div
        class="Header-collapse collapse navbar-collapse"
        id="navbarNavAltMarkup"
      >
        <div class="Header-navbar navbar-nav">
          <a
            #aLink
            class="Header-a nav-link"
            *ngFor="let routes of myRoutes"
            routerLink="routes.path"
            [attr.aria-current]="isActive(routes.path) ? 'page' : null"
            (click)="moveToSection(routes.nameSection)"
            >{{ routes.name }}</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
