@use "src/_custom" as *;

.Header {
  height: 4rem;
  /*  background-color: $light; */
  position: fixed;
  inset: 0;
  z-index: 10;

  &-nav {
    display: flex;
    justify-content: center;
    width: 100%;

    /*   @include media-breakpoint-up(lg) {
 
      right: 0;
      position: fixed;
      display: flex;
    } */
  }

  &-navbar {
    /* determinar posición del menu */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  &-a {
    font-weight: bold;
    cursor: pointer;
    color: white;
    &:hover {
      color: red;
    }
  }

  &-aRed {
    color: red;
    &:hover {
      color: white;
    }
  }
}

.bg-none {
  background: none !important;
}

/* .gold {
  color: rgb(194, 161, 94);
} */
