<header #nav class="Header bg-dark">
  <nav class="Header-nav navbar navbar-expand-sm">
    <div class="Header-container container-fluid">
      <div
        class="Header-collapse collapse navbar-collapse"
        id="navbarNavAltMarkup"
      >
        <div class="Header-navbar navbar-nav">
          <small
            #aHeaderLink
            class="Header-a nav-link"
            *ngFor="let routes of myRoutes"
            [attr.aria-current]="isActive(routes.path) ? 'page' : null"
            (click)="moveToSection(routes.nameSection, aHeaderLink)"
            >{{ routes.name }}</small
          >
        </div>
      </div>
    </div>
  </nav>
</header>
