@use "src/_custom" as *;

.Cards {
  &-visual {
    display: flex;
    justify-content: center;
    max-height: 40rem;
  }

  &-row {
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  &-img {
    max-height: 20rem;
  }

  &-pimage {
    display: block;
  }
}
