@use "src/_custom" as *;

.Cards {
  &-row {
    margin: 0;
    padding: 0;
    height: 660px;
    overflow-y: auto;
    background-color: #ff3cac;
    background-image: linear-gradient(
      225deg,
      #ff3cac 0%,
      #784ba0 50%,
      #2b86c5 100%
    );

    color: white;
  }
  &-visual {
    display: flex;
    justify-content: center;
    max-height: 40rem;
  }

  &-h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: lighter;
    background-clip: text;
    color: transparent;
    background-color: #8bffe2;
    background-image: linear-gradient(
      257deg,
      #8bffe2 0%,
      #2bffbc 52%,
      #2bff88 90%
    );

    font-weight: bold;
  }
  &-img {
    max-height: 20rem;
  }

  &-p {
    font-size: 0.875rem;
  }
  &-a {
    font-size: 0.875rem;
  }
  &-pimage {
    display: block;
  }
}
