@use "src/_custom" as *;
.Contactme {
  &-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 3rem;
    @include media-breakpoint-up(xl) {
      /*       border-bottom: 1px solid;
      border-left: 1px solid; */
      height: 100%;
    
      text-align: start;
    }
  }

  &-group {
    margin-bottom: 1rem;
  }

  &-button {
    &--send {
      background-color: #332d2d;
      color: white;
      border-color: white;
    }
  }

  &-svg {
    height: 5rem;
    padding: 0rem 2rem;
    @include media-breakpoint-down(xl) {
      height: 2rem;
      padding: 0rem 1rem;
    }
  }
}
