@use "src/_custom" as *;
.Contact {
  &-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(lg) {
      margin: 13px 1rem;
      border-top: 1px solid;
      border-left: 1px solid;
      height: 100%;
      padding: 9rem 6rem;
      text-align: start;
    }
  }

  &-group {
    margin-bottom: 1rem;
  }

  &-svg {
    height: 5rem;
    padding: 0rem 1rem;
    @include media-breakpoint-down(md){
      height: 2rem;
    }
  }
}
