<div class="Contactme-content rounded-3 h-100">
  <h2 class="Contactme-h2 display-2 mb-5">Contáctame!</h2>

  <form
    [formGroup]="formContact"
    action=""
    class="Contactme-form row my-5 needs-validation"
    novalidate
  >
    <div class="Contactme-col col-md-6">
      <!--name -->
      <div class="Contactme-group form-group">
        <label for="nameInput"> Nombres : </label>
        <input
          type="text"
          id="nameInput"
          formControlName="name"
          (input)="getTextUser($event)"
          class="Contactme-input form-control"
          placeholder=""
        />
        <!-- esto se turna en base a si colocamos la clase is-valid o is-invalid -->
        <div class="valid-feedback">Luce bien</div>
        <div class="invalid-feedback">{{ validateErrorName }}</div>
      </div>
      <!-- email -->
      <div class="Contactme-group form-group">
        <label for="emailInput"> Email :</label>
        <input
          type="text"
          id="emailInput"
          formControlName="email"
          class="Contactme-input form-control"
          placeholder=""
        />
        <div class="valid-feedback">Luce bien</div>
        <div class="invalid-feedback">{{ validateEmailError }}</div>
      </div>
      <!-- country -->
      <div class="Contactme-group form-group">
        <label for="paisInput"> País </label>
        <input
          type="text"
          id="paisInput"
          formControlName="pais"
          class="Contactme-input form-control"
          placeholder=""
        />
        <div class="valid-feedback">Luce bien</div>
        <div class="invalid-feedback">{{ validateErrorCountry }}</div>
      </div>
    </div>

    <!-- textArea -->
    <div class="Contactme-col col-md-6">
      <div class="Contactme-group form-group">
        <label for="reasonInput" class="Contactme-label form-label"
          >Escríbe el motivo</label
        >
        <textarea
          class="Contactme-area form-control form-control-lg"
          id="reasonInput"
          rows="3"
          formControlName="area"
        ></textarea>
      </div>
    </div>

    <!-- send form -->
    <div class="Contactme-buttonGroup">
      <button
        id="buttonSend"
        aria-labelledby="buttonSendFormulary"
        (click)="enviarFormulario()"
        class="Contactme-button Contactme-button--send btn"
        type="submit"
      >
        Enviar
      </button>
    </div>
  </form>
  <!-- svg sections contact -->
  <app-svg-socials></app-svg-socials>
</div>
